@import url("../font/font.css");



html,
body {
    padding: 0;
    margin: 0;
    font-size: 16px;
    font-family: "Roboto Mono", "Courier New", "sans-serif";
    background-color: #eee;

}

body {
    height: 100%;
    width: 100%;
}

a {
    color: #25172a;
}

input {
    font-family: "Roboto Mono", "Monaco", monospace;
    background-color: #eee;
    border: 1px solid #ccc;
    width: 25em;
}

blockquote {
    background-color: #ddd;
}

blockquote blockquote {
    margin: 0;
    background-color: #aaa2;
}

pre {
    background-color: #d7d9db;
    margin: 0;
}

#root {
    display: flex;
    flex-direction: column;
    border: 1px solid #d7d9db;
    margin: 20px;
    height: calc(100vh - 40px);
}

#header {
    background-color: #d7d9db;
    padding: 22px;
}

#logo {
    color: #25172a;
    position: relative;
    top: 4px;
    height: 45px;
}

#logo_path a {
    text-decoration: none;
}

#logo_path a:hover {
    text-decoration: underline;
}

#header_buttons {
    float: right;
    position: relative;
}

#home h1,
#home h2,
#home h3,
#home h4,
#home h5,
#home h6 {
    margin: 0;
    padding: 0;
}

#home p {
    padding:22px;
    margin:0;
}

#home h1,
#home h2,
#home h3,
#home h4,
#home h5,
#home h6 {
    padding: 22px;
    margin: 0;
    border-bottom: 1px solid #d7d9db;
}

#home>ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-weight: 500;
}

#home ul>li {
    padding: 22px;
    background-color: #fff;
}

#home>ul>li {
    border-bottom: 1px solid #d7d9db;
}


#home>ul>li ul {
    padding: 22px 0 0 22px;
    background-color: #fff;
    list-style-image: none;
}

.content {
    display: flex;
    flex-direction: row;
    flex: 1;
}

@media (max-width: 900px) {
    .content {
        flex-direction: column;
    }
}

#footer {
    background-color: #d7d9db;
    margin-top: auto;
    width: 100%;
    display: flex;
}

#footer .social {
    padding-left: 22px;
}

#footer .social a {
    text-decoration: none;
    padding: 22px;
    display: inline-block;
    background-color: #fff;
    border: 1px solid #000;
}

#footer .social-black a {
    background-color: #000;
    color: white;
}

/* MAILCHIMP */
#mc_embed_signup {
    padding: 22px;
    background-color: #fff;
}

#mc_embed_signup input {
    border: 0px solid #fff;
    border-bottom: 1px solid #000;
    background: #fff;
    color: 000;
    padding: 15px;
    margin-top: 20px;
}

#mc_embed_signup input:focus {
    outline: none;
}
